<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapex</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css"
    />

    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="chat_container">
        <% if (therapistsArray) { %>
        <div class="wrapper">
          <h1 style="text-align: center; color: white; margin: 20px 0">
            Below is a list of all potential Therapist matches for your case (in
            no particular order)
          </h1>
          <div class="chat">
            <div class="message" style="white-space: unset">
              <ul>
                <% therapistsArray.forEach(element => { %>

                <li><%= element %></li>

                <% }); %>
              </ul>
            </div>
          </div>
        </div>

        <% } else { %> Therapist information not available yet <% } %>
      </div>
    </div>
  </body>
</html>
